:root {
    --grey-background: #dadada;
    --text: #1e2346;
    --grey: #646881ff;
    --grey-dark: #404e4dff;
    --grey-light: #bbc8c8ff;
    --brown: #63595cff;
    --red: #542936ff;
    --teal: #62bec1ff;
    --blue: #5ad2f4ff;
    --blue-light: rgb(159, 223, 241);

    --app-padding: 0.3rem;
    --border-radius: 0.3rem;
}